@import "tailwindcss";

@font-face {
    font-family:p1;
    src: url('/fonts/p1.woff2');
}
@font-face {
    font-family:p2;
    src: url('/fonts/p2.woff2');
}
@font-face {
    font-family:p3;
    src: url('/fonts/p3.woff2');
}
@font-face {
    font-family:p4;
    src: url('/fonts/p4.woff2');
}
@font-face {
    font-family:p5;
    src: url('/fonts/p5.woff2');
}
@font-face {
    font-family:p6;
    src: url('/fonts/p6.woff2');
}
@font-face {
    font-family:p7;
    src: url('/fonts/p7.woff2');
}

.P1{
    font-family:p1;
}

.P2{
    font-family:p2;
}

.P3{
    font-family:p3;
}

.P4{
    font-family:p4;
}

.P5{
    font-family:p5;
}

.P6{
    font-family:p6;
}

.P7{
    font-family:p7;
}



.scroll-lock{
    overflow:hidden;
    height:100%;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
}

::-webkit-scrollbar{
    display: none;
}